<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('Edit Woof: ' + ${post.title})">
    <meta charset="UTF-8" />
</head>
<body>

<div id="edit-grid">

    <nav class="nav" th:replace="fragments :: navbar"></nav>

    <div id="edit-post-form">

        <div id="a1"></div>
        <h1 id="edit-header">Edit Woof</h1>
        <div id="a2"></div>

        <div id="b2"></div>
        <div class="container">
            <form th:replace="fragments :: posts-form" action="#" th:action="@{/posts/edit}" method="post" th:object="${post}"></form>
        </div>
        <div id="b3"></div>

        <div id="a3"></div>
        <div id="b4"></div>
        <div id="a4"></div>
    </div>

    <footer th:replace="fragments :: footer" id="footer"></footer>

</div>
<script th:include="fragments :: scripts"></script>
</body>
</html>