<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('View all Woofs')">
    <meta charset="UTF-8" />
    <title>Woofs</title>
</head>
<body>

<div id="index-grid">
    <nav class="nav" th:replace="fragments :: navbar"></nav>

    <h1 id="content-header">Current Woofs</h1>

    <div id="index-posts-flexbox">
        <!--<div id="edit">-->
            <!--<a th:href="${'/posts/' + post.id + '/edit'}">EDIT</a>-->
        <!--</div>-->
        <!--<div id="delete">-->
            <!--<a th:href="${'/posts/delete'}">DELETE</a>-->
        <!--</div>-->
    </div>

    <footer th:replace="fragments :: footer" id="footer"></footer>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script src="/js/main.js"></script>

</body>
</html>