<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center">
<!--<th:block th:switch="${error}">-->
    <!--<div th:case="'Not Found'">-->
        <!--<h1>Page not found!!</h1>-->
    <!--</div>-->
    <!--<div th:case="'Forbidden'">-->
        <!--<h1>You don't have permission to view this page.</h1>-->
    <!--</div>-->
<!--</th:block>-->
<h1>Something went wrong!</h1>
<iframe
        width="768"
        height="576"
        src="https://fthmb.tqn.com/u09tbRy6N9EgUpnoB3B9IyojTmo=/768x0/filters:no_upscale()/about/please-stand-by-500879062-56fd7b5f3df78c7d9efc4ed2.jpg"
        frameborder="0"
        allowfullscreen="allowfullscreen"
>
</iframe>
<a href="/login">Return to login</a>
</body>
</html>