/* CSS Reset */
body { margin:0; padding:0; font-size:100%; line-height:1; display: grid }

.nav {
    grid-row: nav;
    display: inline-grid;
    grid-template-columns: 3fr 1fr 1fr;

}

.nav-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #4D3C35;
}

#nav-search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

#woofbook {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1em;
    font-size: 4em;
    color: #4D3C35;
    font-family: 'Frijole', cursive;
}

#search {
    width: 80%;
    height: 1em;
    font-size: inherit;
    font-family: 'Boogaloo', cursive;
}

#user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Boogaloo', cursive;
    color: #4D3C35;
    font-size: 2em;
}

.button {
    border: 1px solid olivedrab;
    height: 2em;
    font-size: 1em;
    background-color: #4D3C35;
    color: ghostwhite;
    font-family: 'Boogaloo', cursive;
}

.links {
    font-size: 2em;
    font-family: 'Boogaloo', cursive;
}

#index-grid {
    display: grid;
    grid: "nav"
    "h1"
    "posts"
    "footer";
    grid-template-rows: 1fr .5fr calc(60%) 2fr;
    background-color: ghostwhite;
}

#content-header {
    grid-row: h1;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Boogaloo', cursive;
    font-size: 2em;

}

#index-posts-flexbox {
    grid-row: posts;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 2em;
}

.post-container {
    display: grid;
    grid: "title"
    "body"
    "edit"
    "delete";
    grid-template-rows: 1fr auto .5fr .5fr;
    justify-content: center;
    align-content: center;
    border: 1px solid #4D3C35;
    background-color: yellowgreen;
    font-family: 'Boogaloo', cursive;
    width: calc(30%);
}

#post-title {
    grid-row: title;
}

#post-body {
    grid-row: body;
}

#edit {
    grid-row: edit;
}

#delete {
    grid-row: delete;
}

#post-title, #post-body, #edit, #delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    grid-row: footer;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#footer-icons, #footer-links, #copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-family: 'Boogaloo', cursive;
}

a {
    text-decoration: none;
    color: #4D3C35;
}

a:hover {
    color: olivedrab;
}