<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--// Head Fragment to use across pages-->

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title th:text="${title}">Fragments</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />-->
    <link href="css/main.css" rel="stylesheet" />
</head>

<body>

<!--// Navbar Fragment to use across pages-->

<nav class="nav" th:fragment="navbar">
    <h1 class="nav-content">Post All About It</h1>
    <span class="nav-content">
        <input type="text" placeholder="Search" />
        <button type="submit">Search</button>
    </span>
    <span class="nav-content">Posts</span>
    <span class="nav-content">Login</span>
</nav>


<!--// Forms Fragment to use across (create, edit) pages-->

<form th:fragment="posts-form" action="#" method="post" th:object="${post}">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" id="title" class="form-control" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label>Body</label>
        <input type="text" name="body" id="body" class="form-control" th:field="*{body}"/>
    </div>
    <button class="btn btn-default">Save</button>
</form>

<!--// Scripts Fragment to use across pages-->

<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</div>

</body>
</html>