<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link href="/css/index.css" />
</head>

<body id="login-grid">

<nav class="nav" th:replace="fragments :: navbar"></nav>

<div id="login-center-content">

    <div id="a1"></div>
    <div id="login-header">
        <h1>Bark! Welcome! Woof!</h1>
    </div>
    <div id="a2"></div>

    <div id="b2"></div>
    <p id="login-form-frame">Doggy Bloggy for all the Bloggy Doggy Lovers!</p>
    <div id="b3"></div>

    <div id="a3"></div>
    <div id="b4"></div>
    <div id="a4"></div>
</div>

<footer th:replace="fragments :: footer" id="footer"></footer>

</body>
</html>