<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link href="/css/register.css" />
</head>

<body id="login-grid">

<nav class="nav" th:replace="fragments :: navbar"></nav>

<div id="login-center-content">

    <div id="a1"></div>
    <div id="login-header">
        <h1>Register</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            Please create account.
        </div>
    </div>
    <div id="a2"></div>

    <div id="b2"></div>
    <form th:action="@{/register}" method="post" id="login-form-frame" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" th:field="*{username}" />
        <label for="email">Email</label>
        <input id="email" name="email" type="text" th:field="*{email}" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" th:field="*{password}" />
        <input class="button" type="submit" value="Create"/>
    </form>
    <div id="b3"></div>

    <div id="a3"></div>
    <div id="b4"></div>
    <div id="a4"></div>
</div>

<footer th:replace="fragments :: footer" id="footer"></footer>

</body>
</html>